<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadyDic - Gerador de Estrutura de Projetos</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">ReadyDic</div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Recursos</a></li>
                <li><a href="#docs">Documentação</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="hero">
            <h1>Gere Estruturas de Projetos com Facilidade</h1>
            <p>Crie estruturas de diretórios para vários tipos de projetos em segundos</p>
        </section>

        <section id="project-form">
            <form id="generate-form" action="/" method="POST">
                <input type="text" id="project-name" name="project_name" placeholder="Nome do Projeto" required>

                <select id="project-type" name="project_type" required>
                    <option value="">Selecione o Tipo de Projeto</option>
                    <option value="mobile">Mobile</option>
                    <option value="web">Web</option>
                    <option value="games">Games</option>
                    <option value="ia">IA</option>
                    <option value="desktop">Desktop</option>
                </select>

                <select id="sub-type" name="sub_type" style="display: none;" required></select>

                <textarea id="custom-structure" name="custom_structure" placeholder="Insira as pastas personalizadas separadas por vírgula. Ex: src/, assets/, components/"></textarea>

                <button type="submit">Gerar Projeto</button>
            </form>

            <p id="save-location">Os arquivos serão salvos em: <strong>{{ default_path }}</strong></p>
            <div id="preview-structure"></div>
            <div id="message"></div>            
        </section>

        <section id="project-types">
            <div class="project-type" data-type="mobile">
                <img src="../static/img/android.png">
            </div>
            <div class="project-type" data-type="web">
                <img src="../static/img/web.png">
            </div>
            <div class="project-type" data-type="games">
                <img src="../static/img/game.png">
            </div>
            <div class="project-type" data-type="ia">
                <img src="../static/img/ai.png">
            </div>
            <div class="project-type" data-type="desktop">
                <img src="../static/img/desktop.png">
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 ReadyDic. Todos os direitos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
